@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Alkatra;
  background-color: rgb(242, 229, 212);
}

h1, h2, h3, h4, h5, h6 {
  color: #b70f0a;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  /*border: 1px solid black; */
  background-color: rgb(237, 209, 182);
}
.header .logo {
  background-color: rgb(237, 209, 182);
}
.header .logo .link-logo {
  background-color: rgb(237, 209, 182);
}
.header .logo .link-logo .logo-imagen {
  width: 120px;
  height: 60px;
  background-color: rgb(237, 209, 182);
}
.header .nav {
  background-color: rgb(237, 209, 182);
}
.header .nav .menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 1.5rem;
  justify-content: center;
  height: auto;
  background-color: rgb(237, 209, 182);
  padding-left: 0;
}
.header .nav .menu .menu-item {
  align-items: center;
  background-color: rgb(237, 209, 182);
}
.header .nav .menu .menu-item .menu-link {
  color: #b70f0a;
  text-decoration: none;
  list-style: none;
  align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(rgb(245, 212, 167), rgb(242, 229, 212), rgb(227, 151, 51));
}

.header-alto {
  height: auto;
}

.main .section-hero .container-imagen-section-hero {
  display: flex;
  margin-inline: auto;
  padding-top: 1.5rem;
}
.main .section-hero .container-imagen-section-hero .foto-baduani1 {
  width: 1440px;
  height: 555px;
  margin: auto;
}
.main .section-hero .div-hero {
  display: inline;
  text-align: center;
  justify-content: center;
}
.main .section-hero .div-hero .titulo-hero {
  font-size: 50px;
  height: 65px;
  margin-top: 1rem;
  animation-name: color;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.main .section-hero .div-hero .parrafo-hero {
  font-size: 35px;
  animation-name: color;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.main .section-hero .div-hero .parrafo-hero .restaurante-negrita {
  font-weight: lighter;
}
.main .section-2 {
  display: flex;
  gap: 10rem;
  margin-top: 1rem;
  justify-content: space-evenly;
}
.main .section-2 .imagen-section2 {
  width: 320px;
  height: 220px;
  margin: auto;
}
.main .section-3 .titulo-section3 {
  text-align: center;
  margin-top: 2rem;
  font-size: 35px;
  font-weight: lighter;
  justify-content: center;
}
.main .section-3 .parrafo-section3 {
  font-size: 20px;
  color: #b70f0a;
  text-align: center;
  margin-bottom: 2rem;
}
.main .section-3 .parrafo-section3 .parrafo-section3-link {
  text-decoration: none;
  color: #b70f0a;
}
.main .section-3 .parrafo-section3 .parrafo-section3-link:hover {
  opacity: 0.5;
  font-size: larger;
  text-decoration: underline;
}
.main .section-3 .container-imagen-section3 {
  display: flex;
  margin-inline: auto;
}
.main .section-3 .container-imagen-section3 .imagen-section3 {
  width: 1100px;
  height: 780px;
  margin: auto;
}

@keyframes color {
  0% {
    color: #b70f0a;
  }
  50% {
    color: rgb(65, 94, 47);
  }
  100% {
    color: #b70f0a;
  }
}
.footer {
  display: flex;
  color: #b70f0a;
  justify-content: space-evenly;
  padding-top: 2rem;
  font-size: smaller;
  background-image: linear-gradient(rgb(242, 229, 212), rgb(237, 209, 182));
}
.footer .contenedor-footer {
  background-image: linear-gradient(rgb(242, 229, 212), rgb(237, 209, 182));
  border-radius: 10px;
}
.footer .contenedor-footer .parrafo-footer {
  background-image: linear-gradient(rgb(242, 229, 212), rgb(237, 209, 182));
  border-radius: 10px;
}

.main-contacto .h1-contacto {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.main-contacto .formulario-contacto {
  height: 480px;
  display: grid;
  grid-template-areas: "nombre-contacto apellido" "email-contacto asunto" "mensaje-contacto mensaje-contacto" "enviar enviar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.main-contacto .formulario-contacto .nombre-contacto {
  grid-area: nombre-contacto;
}
.main-contacto .formulario-contacto .apellido {
  grid-area: apellido;
}
.main-contacto .formulario-contacto .email-contacto {
  grid-area: email-contacto;
}
.main-contacto .formulario-contacto .mensaje-contacto {
  grid-area: mensaje-contacto;
}
.main-contacto .formulario-contacto .enviar {
  grid-area: enviar;
}
.main-contacto .formulario-contacto > div {
  margin: auto;
}

.main-reservas .h1-reservas {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.main-reservas .formulario-reservas {
  height: 480px;
  display: grid;
  grid-template-areas: "nombre-reservas email-reservas" "tel tel" "fecha personas" "mensaje-reservas mensaje-reservas" "reservar reservar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.main-reservas .formulario-reservas .nombre-reservas {
  grid-area: nombre-reservas;
}
.main-reservas .formulario-reservas .email-reservas {
  grid-area: email-reservas;
}
.main-reservas .formulario-reservas .tel {
  grid-area: tel;
}
.main-reservas .formulario-reservas .fecha {
  grid-area: fecha;
}
.main-reservas .formulario-reservas .fecha > input {
  width: 164px;
}
.main-reservas .formulario-reservas .personas {
  grid-area: personas;
}
.main-reservas .formulario-reservas .mensaje-reservas {
  grid-area: mensaje-reservas;
}
.main-reservas .formulario-reservas .reservar {
  grid-area: reservar;
}
.main-reservas .formulario-reservas > div {
  margin: auto;
}

.main-quienes-somos .section-quienes-somos .h1-quienes-somos {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: xx-large;
}
.main-quienes-somos .section-quienes-somos .parrafo-quienes-somos {
  max-width: 78.2%;
  margin: auto;
  text-align: center;
  font-size: medium;
  color: #b70f0a;
  padding-bottom: 1rem;
}
.main-quienes-somos .section-quienes-somos .parrafo2-quienes-somos {
  color: rgb(65, 94, 47);
  max-width: 78.2%;
  margin: auto;
  text-align: center;
  margin-bottom: auto;
  font-size: medium;
}
.main-quienes-somos .section2-quienes-somos {
  margin-top: 1.5rem;
}
.main-quienes-somos .section2-quienes-somos .imagen-section2 {
  width: 320px;
  height: 220px;
  margin: auto;
}

.main-menu .h1-menu {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.main-menu .nav-menu .lista-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 1rem;
  padding-left: 0;
}
.main-menu .nav-menu .lista-menu .item-menu {
  align-items: center;
  transition: 0.5s ease-in-out;
}
.main-menu .nav-menu .lista-menu .item-menu:hover {
  transform: translateY(10px) scale(1.2) rotate(5deg) skew(10deg);
}
.main-menu .nav-menu .lista-menu .item-menu .link-menu {
  border: solid rgb(65, 94, 47);
  border-radius: 8px;
  color: #b70f0a;
  text-decoration: none;
}
.main-menu .carta .h2 {
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 2rem;
  color: #b70f0a;
}
.main-menu .carta .lista-carta {
  padding-left: 0;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-menu .carta .lista-carta .item-carta {
  color: rgb(65, 94, 47);
  font-size: smaller;
  text-align: center;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  list-style-type: none;
  background-image: linear-gradient(rgb(237, 209, 182), rgb(245, 212, 167));
  border-radius: 4px;
}

@media (max-width: 1140px) {
  .section-3 .container-imagen-section3 .imagen-section3 {
    max-width: 900px;
    max-height: 600px;
  }
}
@media (max-width: 937px) {
  .index {
    display: flex;
    flex-direction: column;
  }
  .index .nav {
    margin: auto;
  }
  .index .logo {
    margin: auto;
  }
  .index .logo .logo-imagen {
    margin-bottom: 1rem;
  }
  .main .section-hero .container-imagen-section-hero {
    max-width: 700px;
    margin: auto;
  }
  .main .section-hero .container-imagen-section-hero .foto-baduani1 {
    max-width: 700px;
  }
  .main .section-3 .container-imagen-section3 .imagen-section3 {
    max-width: 700px;
    max-height: 450px;
  }
}
@media (max-width: 734px) {
  .header {
    flex-direction: column;
  }
  .header .nav {
    margin: auto;
  }
  .header .logo {
    margin: auto;
  }
  .header .logo .logo-imagen {
    margin-bottom: 1rem;
  }
  .main .section-hero .container-imagen-section-hero {
    max-width: 600px;
    margin: auto;
  }
  .main .section-hero .container-imagen-section-hero .foto-baduani1 {
    max-width: 600px;
    height: 300px;
  }
  .main .section-3 .container-imagen-section3 .imagen-section3 {
    max-width: 550px;
    max-height: 300px;
  }
  .footer {
    margin-bottom: 1rem;
    width: 100%;
    font-size: small;
    flex-direction: column;
  }
  .footer .contenedor-footer {
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
  }
}
@media (max-width: 637px) {
  .header {
    font-size: small;
  }
}
@media (max-width: 573px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  .main .section-hero .container-imagen-section-hero {
    max-width: 480px;
    margin: auto;
  }
  .main .section-hero .container-imagen-section-hero .foto-baduani1 {
    max-width: 480px;
    height: 200px;
  }
  .main .section-3 .container-imagen-section3 .imagen-section3 {
    max-width: 400px;
    max-height: 220px;
  }
  .main-reservas .h1-reservas {
    font-size: x-large;
  }
  .main-contacto .h1-contacto {
    font-size: x-large;
  }
  .nav .menu {
    flex-direction: column;
    margin: auto;
    font-size: small;
    justify-content: center;
    text-align: center;
  }
  .footer .contenedor-footer {
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    font-size: small;
  }
  .nav-menu .lista-menu {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .main-reservas .formulario-reservas {
    grid-template-areas: "nombre-reservas" "email-reservas" "tel" "fecha" "personas" "mensaje-reservas" "reservar";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
  textarea {
    width: 250px;
  }
}
@media (max-width: 360px) {
  .main-contacto .formulario-contacto {
    grid-template-areas: "nombre-contacto" "apellido" "email-contacto" "asunto" "mensaje-contacto" "enviar";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (max-width: 341px) {
  .main .section-hero .container-imagen-section-hero {
    max-width: 341px;
    margin: auto;
  }
  .main .section-hero .container-imagen-section-hero .foto-baduani1 {
    max-width: 290px;
    height: 200px;
  }
  .main .section-3 .container-imagen-section3 .imagen-section3 {
    max-width: 290px;
    max-height: 220px;
  }
}/*# sourceMappingURL=styles.css.map */