.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    /*border: 1px solid black; */
    background-color: $colorMenuLink;

    .logo {
        background-color: $colorMenuLink;
        .link-logo {
            background-color: $colorMenuLink;
            .logo-imagen {
                width: 120px;
                height: 60px; 
            }
        }
    }

   

   .nav {
    display: flex;
    background-color: $colorMenuLink;
    .menu {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-top: 1.5rem;
        background-color: $colorMenuLink;
        justify-content: center;
        height: 48px;
        

        .menu-item {
            align-items: center;
            background-color: $colorMenuLink;

            .menu-link {
                color: $colorPrincipal;
                text-decoration: none;
                list-style: none;
                align-items: center;
                background-color: $colorMenuLink;
            }
        }
    } 
   }  
}

.header-alto{
height: 96px;
}
