.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    /*border: 1px solid black; */
    background-color: $colorFondo3;
    

    .logo {
        background-color: $colorFondo3;
        .link-logo {
            background-color: $colorFondo3;
           .logo-imagen {
                width: 120px;
                height: 60px; 
                background-color: $colorFondo3;
           }
        }
    }


   .nav {
    background-color: $colorFondo3;
    .menu {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-top: 1.5rem;
        justify-content: center;
        height: auto;
        background-color: $colorFondo3;
        padding-left: 0;
        

        .menu-item {
            align-items: center;
            background-color: $colorFondo3;

            .menu-link {
                color: $colorPrincipal;
                text-decoration: none;
                list-style: none;
                align-items: center;
                //border: solid $colorSecundario;
                border-radius: 8px;
                //background-color: $colorMenuLink;
                background-image: linear-gradient($colorMenuLink, $colorFondo1, $colorFondo2);
            }
        }
    } 
   }  
}

.header-alto{
height: auto;
}
