.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    /*border: 1px solid black; */

    .logo {
        .link-logo {
        }
        .logo-imagen {
            width: 120px;
            height: 60px;
        }
    }

   

   .nav {
    .menu {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-top: 1.5rem;

        .menu-item {
            align-items: center;

            .menu-link {
                color: $colorPrincipal;
                text-decoration: none;
                list-style: none;
                align-items: center;
            }
        }
    } 
   }  
}