.main-contacto {

    .h1-contacto {
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }

    .formulario-contacto {
        height: 480px;
        display: grid;
        grid-template-areas:
        "nombre-contacto apellido"
        "email-contacto asunto"
        "mensaje-contacto mensaje-contacto" 
        "enviar enviar";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .nombre-contacto {
            grid-area: nombre-contacto;
        }
        
        .apellido {
            grid-area: apellido;
        }
        
        .email-contacto {
            grid-area: email-contacto;
        }
        
        .mensaje-contacto {
            grid-area: mensaje-contacto;
        }
        
        .enviar {
            grid-area: enviar;
        }
    
    }

    .formulario-contacto > div {
        margin: auto;
    }

}