.main-menu {
    .h1-menu {
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    .nav-menu {
        .lista-menu {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style-type: none;
            gap: 1rem;
            padding-left: 0;
            

            .item-menu {
                align-items: center;
                transition: .5s ease-in-out;
                &:hover {
                    transform: translateY(10px) scale(1.20) rotate(5deg) skew(10deg);
                }

                .link-menu {
                    //border-bottom: solid $colorSecundario;
                    //border-top: solid $colorSecundario;
                    border: solid $colorSecundario;
                    border-radius: 8px;
                    color: $colorPrincipal;
                    text-decoration: none;

                }
            }
        }
    }

    .carta {
        .h2 {
            text-align: center;
            padding-bottom: 1rem;
            margin-top: 2rem;
            color: $colorPrincipal;
        }
        .lista-carta {
            padding-left: 0;
            padding-bottom: .5rem;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .item-carta {
                color: $colorSecundario;
                font-size: smaller;
                text-align: center;
                margin-bottom: .8rem;
                margin-top: .8rem;
                list-style-type: none;
                background-image: linear-gradient($colorFondo3, $colorMenuLink);
                border-radius: 4px;
                
            }
        }
    }
}
