.main-quienes-somos {
    .section-quienes-somos {
        .h1-quienes-somos {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: .5rem;
        font-size: xx-large;
        }

        .parrafo-quienes-somos {
        max-width: 78.2%;
        margin: auto;
        text-align: center;
        font-size: medium;
        color: $colorPrincipal;
        padding-bottom: 1rem;
        }

        .parrafo2-quienes-somos {
        color: $colorSecundario;
        max-width: 78.2%;
        margin: auto;
        text-align: center;
        margin-bottom: auto;
        font-size: medium;
        } 
    }
   .section2-quienes-somos{
        margin-top: 1.5rem;
        .imagen-section2 {
            width: 320px;
            height: 220px;
            margin: auto;
        }
   } 
}