.main-quienes-somos {
    .section-quienes-somos {
        .h1-quienes-somos {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        }

        .parrafo-quienes-somos {
        padding-left: 1rem;
        text-align: center;
        font-size: x-large;
        color: $colorPrincipal;
        }

        .parrafo2-quienes-somos {
        color: $colorPrincipal;
        padding-left: 1rem;
        text-align: center;
        margin-bottom: auto;
        font-size: x-large;
        } 
    }
   .section2-quienes-somos{
        margin-top: 3rem;
   } 
}